template(name='slide12')
  +SequentialLayout size="[900,undefined]" align='[.5,.5]' origin='[.5,.5]'
    +Surface template="slide12_options" size='[undefined,true]'
    +ContainerSurface perspective=500 overflow="hidden"
      +FlexScrollView layout='CollectionLayout' layoutOptions='{"itemSize":[125,125],"spacing":[10,10]}'
        +famousEach users
          +Surface template="slide12_user"

template(name='slide12_options')
  p(style="margin: 1em 0 10px 0;")
    b Reactive Queries - Demo
    br
    a(href="/slides/12") meetup-fview-ottawa.meteor.com/slides/12
  span
    | Sort by: &nbsp;
    +each sortByOptions
      label
        input(type="radio",value="#{this}",checked=checked)
        | #{this} &nbsp;&nbsp;
    +loginButtons
    br
    br

template(name='slide12_user')
  div.profile
    img(src="#{profile.pic}")
    div #{profile.name}
